<h2>Edit your Profile</h2>

<form action="/profile/edit?user_id={{user._id}}" method="post">
  <label for="">Name:</label>
  <input type="text" name="name" value="{{user.name}}">

  <label for="">Email:</label>
  <input type="text" name="email" value="{{user.email}}">

  <label for="">Username:</label>
  <input type="text" name="email" value="{{user.username}}">

  <label for="">Location:</label>
  <input type="text" name="location" value="{{user.location}}">

  <label for="image">profilePic</label>
  <input type="file" name="profilePic" value="{{user.image}}">

 



  <button type="submit">EDIT</button>
</form>