<h2>QiOptimizer Profile</h2>
<br>
<br>
<p>See you profile's information below</p>
<div class = "profile">
{{user.profilePic}}
<p>Name:{{this.name}}</p>
<p>Email: {{this.email}}</p>
<p>Username: {{this.username}}</p>
<p>Location:{{this.location}}</p>

{{!-- find way for user to store what herbs and/or treatment user is using so they can keep track of it --}}
</div>

 <p><a href="/profile/{{this.id}}/edit">Edit your profile</a></p>

