<h2>Edit Technique Information</h2>

<form action="/techniques/edit?other_id={{other._id}}" method="post">
  <label for="">Name:</label>
  <input type="text" name="title" value="{{other.name}}">

  <label for="">Description:</label>
  <input type="text" name="description" value="{{other.description}}">

  <label for="image">Image</label>
  <input type="file" name="image" value="{{other.image}}">

  <label for="">Symptoms:</label>
  <input type="text" name="symptoms" value="{{other.symptoms}}">



  <button type="submit">EDIT</button>
</form>